@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Bold.ttf);
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #8E53E4 0%, #4B22B9 100%);

    .main {
        display: flex;
        flex-wrap: wrap;

        .main__menu {
            width: 23rem;
            height: 56rem;
            padding: 3.7rem 3rem;
            background-color: #292D32;

            &__item {
                display: flex;
                gap: 1.5rem;
                margin-bottom: 2rem;

                span {
                    display: inline-block;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-color: #626C76;
                    color: #fff;
                    font-size: 1.2rem;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .staff__panel {
            width: 75rem;
            height: 56rem;
            background-color: var(--main-background-color);

            &__header {
                width: 100%;
                height: 6rem;
                padding: 0 3rem;
                border-bottom: 1px solid #E3EAF3;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .staff__panel__header__title {
                    color: #292D32;
                    font-size: 1.8rem;
                    font-weight: 500;
                }
            }

            &__content {
                width: 100%;
                height: 42.3rem;
                padding: 2rem 3rem;

                .staff__panel__content__item {
                    margin-bottom: 1rem;
                    display: flex;
                    background-color: var(--body-background-color);

                    .staff__panel__content__item__image {
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        overflow: hidden;
                        margin: 1.5rem 2.2rem 1.5rem 2rem;
                    }

                    .staff__panel__content__item__about {
                        margin: 2rem 2.2rem 1.5rem 2rem;

                        .staff__panel__content__item__about__name {
                            color: #292D32;
                            font-weight: 500;
                        }

                        .staff__panel__content__item__about__email {
                            color: var(--main-text-color);
                            font-size: 1.2rem;
                        }
                    }
                }

            }

            &__footer {
                width: 100%;
                height: 7.6rem;
                border-top: 1px solid #E3EAF3;
                background: var(--body-background-color);
                position: relative;

                .staff__panel__footer__button {
                    font-size: 1.2rem;
                    font-weight: 600;
                    padding: 0.9rem 1.4rem;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 0.2rem;
                    color: var(--body-background-color);
                    background-color: #6C70DC;
                    position: absolute;
                    top: 2.5rem;
                    right: 3rem;
                }
            }
        }

        .service__panel {
            width: 75rem;
            height: 56rem;
            background-color: var(--main-background-color);

            &__header {
                width: 100%;
                height: 6rem;
                padding: 0 3rem;
                border-bottom: 1px solid #E3EAF3;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .service__panel__header__title {
                    color: #292D32;
                    font-size: 1.8rem;
                    font-weight: 500;
                }
            }

            &__content {
                width: 100%;
                height: 42.3rem;
                padding: 2rem 3rem;

                .service__panel__content__item {
                    margin-bottom: 1rem;
                    display: flex;
                    background-color: var(--body-background-color);

                    .service__panel__content__item__image {
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        overflow: hidden;
                        margin: 1.5rem 2.2rem 1.5rem 2rem;
                    }

                    .service__panel__content__item__about {
                        margin: 2rem 2.2rem 1.5rem 2rem;

                        .service__panel__content__item__about__name {
                            color: #292D32;
                            font-weight: 500;
                        }

                        .service__panel__content__item__about__email {
                            color: var(--main-text-color);
                            font-size: 1.2rem;
                        }
                    }
                }

            }

            &__footer {
                width: 100%;
                height: 7.6rem;
                border-top: 1px solid #E3EAF3;
                background: var(--body-background-color);
                position: relative;

                .service__panel__footer__button {
                    font-size: 1.2rem;
                    font-weight: 600;
                    padding: 0.9rem 1.4rem;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 0.2rem;
                    color: var(--body-background-color);
                    background-color: #6C70DC;
                    position: absolute;
                    top: 2.5rem;
                    right: 3rem;
                }
            }
        }
    }
}