@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.ttf);
}
#main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #8E53E4 0%, #4B22B9 100%);
}
#main .main {
  display: flex;
  flex-wrap: wrap;
}
#main .main .main__menu {
  width: 23rem;
  height: 56rem;
  padding: 3.7rem 3rem;
  background-color: #292D32;
}
#main .main .main__menu__item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
#main .main .main__menu__item:not(.active) {
  cursor: not-allowed;
}
#main .main .main__menu__item.active {
  color: #4FBF65;
}
#main .main .main__menu__item.active span {
  background-color: #4FBF65;
}
#main .main .main__menu__item span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #626C76;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#main .main .main__menu__item span.success {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  z-index: 1;
  display: none;
}
#main .main .dataPanel {
  width: 75rem;
  height: 56rem;
  background-color: var(--main-background-color);
}
#main .main .dataPanel__top {
  width: 100%;
  height: 6rem;
  padding: 0 3rem;
  border-bottom: 1px solid #E3EAF3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main .main .dataPanel__top .dataPanel__items--header {
  color: #292D32;
  font-size: 1.8rem;
  font-weight: 500;
}
#main .main .dataPanel__center {
  width: 100%;
  height: 42.3rem;
  padding: 2rem 3rem;
}
#main .main .dataPanel__center .contents__item {
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--body-background-color);
  align-items: center;
}
#main .main .dataPanel__center .contents__item--image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2.2rem;
}
#main .main .dataPanel__center .contents__item--about {
  display: flex;
  align-items: center;
}
#main .main .dataPanel__center .contents__item--title {
  color: #292D32;
  font-weight: 500;
}
#main .main .dataPanel__center .contents__item--email {
  color: var(--main-text-color);
  font-size: 1.2rem;
}
#main .main .dataPanel__center .contents__item--price {
  color: #4FBF65;
  font-size: 2.6rem;
  font-weight: 500;
}
#main .main .dataPanel__center .form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
#main .main .dataPanel__center .form .form__input p {
  color: #292D32;
}
#main .main .dataPanel__center .form .form__input input {
  width: 33.5rem;
  height: 4.6rem;
  border-radius: 2px;
  border: 1px solid #E3EAF3;
  background: #FFF;
  outline: none;
  padding: 0 1rem;
}
#main .main .dataPanel__center .note {
  color: #292D32;
  margin: 2.5rem 0 0.8rem;
}
#main .main .dataPanel__center .data {
  width: 100%;
  padding: 2rem;
  background: var(--body-background-color);
}
#main .main .dataPanel__center .data .data__list--item {
  padding: 0.5rem;
}
#main .main .dataPanel__center .data .data__list--item .key {
  color: #6C70DC;
  padding-right: 0.5rem;
}
#main .main .dataPanel__center .data .data__list--item .value {
  color: #111;
  font-weight: 300;
}
#main .main .dataPanel__center .data .data__list--item .price {
  color: #4FBF65;
  font-weight: 500;
}
#main .main .dataPanel__bottom {
  width: 100%;
  padding: 2rem 3rem;
  border-top: 1px solid #E3EAF3;
  background: var(--body-background-color);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
#main .main .dataPanel__bottom .next__button {
  justify-self: end;
  color: var(--body-background-color);
  background-color: #6C70DC;
}
#main .main .dataPanel__bottom .prev__button {
  justify-self: start;
  color: #8F9CA7;
  border: 1px solid #E3EAF3;
  background: #F7F8FB;
  display: none;
}
#main .date {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#main .date-picker {
  border-radius: 2px;
  height: 31rem;
  width: 37rem;
}
#main .date .calendar {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
#main .date .calendar .weekdays {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem 1rem 2.5rem;
  border-bottom: 1px solid #E3EAF3;
}
#main .date .header {
  display: flex;
  justify-content: center;
  margin-bottom: 1.9rem;
  gap: 2.1rem;
  color: black;
}
#main .date .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  padding: 8px;
}
#main .date .date__days {
  background: #ECEFF2;
  display: block;
  text-align: center;
  padding: 0.8rem;
  color: black;
  cursor: pointer;
}
#main .date .date__days.disabled {
  pointer-events: none;
  color: gray;
}
#main .date .times {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  display: none;
}
#main .date .times .time {
  cursor: pointer;
  padding: 1rem 2rem;
  background: #ECEFF2;
  border-radius: 4px;
}
#main .date .times .time.active {
  background: #4FBF65;
  color: white;
}
#main .date .prev,
#main .date .next {
  cursor: pointer;
}
#main .date .prev {
  margin-right: 10px;
}
#main .date .next {
  margin-left: 10px;
}
#main .date .date__top--title {
  margin-bottom: 1.9rem;
  text-align: center;
  color: black;
  font-weight: 400;
}
#main .date .selected__date {
  width: 30.5rem;
  height: 31rem;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
#main .date .selected__date--header {
  color: #6C70DC;
  font-weight: 400;
}
#main .date .selected__date--top {
  padding: 1.5rem 0;
  display: grid;
  place-content: center;
  border-bottom: 1px solid #E3EAF3;
}

.dataPanel__center {
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.dataPanel__center.active {
  display: block;
  opacity: 1;
}

.dataPanel__center.inactive {
  display: none;
  opacity: 0;
}/*# sourceMappingURL=style.css.map */